.text-primary{
	color: var(--fui-color-primary);
}
.text-success{
	color: var(--fui-color-success);
}
.text-warning{
	color: var(--fui-color-warning);
}
.text-danger{
	color: var(--fui-color-danger);
}

.text-fff {
	color: #ffffff;
}
.text-000 {
	color: #000;
}
.text-282828 {
	color: #282828;
}
.text-333 {
	color: #333;
}
.text-1D2A51 {
	color: #1d2a51 !important;
}
.text-222b45 {
	color: #222b45;
}
.text-5A5B5C {
	color: #5A5B5C;
}
.text-666666 {
	color: #666666 !important;
}
.text-606266 {
	color: #606266 !important;
}
.text-82848f {
	color: #82848f !important;
}
.text-d8d8d8 {
	color: #d8d8d8 !important;
}
.text-909399 {
	color: #909399 !important;
}
.text-C0C4CC {
	color: #c0c4cc !important;
}

.text-556E83 {
	color: #556e83 !important;
}

// 背景色

.bg-primary{
	background-color: var(--fui-color-primary);
}
.bg-success{
	background-color: var(--fui-color-success);
}
.bg-warning{
	background-color: var(--fui-color-warning);
}
.bg-danger{
	background-color: var(--fui-color-danger);
}


.bg-f3f4f6 {
	background-color: #f3f4f6;
}
.bg-fff {
	background-color: #ffffff;
}
.bg-f5f5f5 {
	background-color: #f5f5f5;
}
.shadow {
	box-shadow: 0 0 10rpx #eee;
}
